#grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px;

  /*grid-template-areas:
    "header header header header"
    "leftside content content rightside"
    "leftside footer footer footer";*/
}

body {
  margin: 0;
  padding: 1em;
}

.masthead {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-a {
  text-align: center;
  color: red;
  font-weight: bold;
  background-color: pink;
  border: 5px solid red;
  font-size: 3em;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.item-b {
  text-align: center;
  color: #ff7e00;
  background-color: #ffcc99;
  border: 5px solid #ca6702;
  font-size: 3em;
  font-weight: bold;
}

.main {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item-c {
  text-align: center;
  color: #c08552;
  background-color: #ffd60a;
  border: 5px solid #fb5607;
  font-size: 3em;
  font-weight: bold;
}
.navbar {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item-d {
  text-align: center;
  color: #1b4332;
  background-color: #95d5b2;
  border: 5px solid #2d6a4f;
  font-size: 3em;
  font-weight: bold;
}
.footer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.item-e {
  text-align: center;
  color: #5a189a;
  background-color: #e0aaff;
  border: 5px solid #9d4edd;
  font-size: 3em;
  font-weight: bold;
}
